services:
  - type: web
    name: numberfight-api
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ConnectionStrings__DefaultConnection
        fromDatabase:
          name: numberfight-db
          property: connectionString
      - key: JwtSettings__SecretKey
        generateValue: true
      - key: JwtSettings__Issuer
        value: NumberFight
      - key: JwtSettings__Audience
        value: NumberFightClients
      - key: JwtSettings__ExpirationInMinutes
        value: 60

databases:
  - name: numberfight-db
    databaseName: numberfight
    user: numberfight

